.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  // background-color: rgba(0, 0, 0, 0.774);
  position: fixed;
  padding: 0 calc(17 * 1px + (25 - 17) * (100vw - 320 * 1px) / (540 - 320));
  // padding: 0 1.1rem;
  top: 0;
  left: 0;
  z-index: 2;
}

.logo {
  // width: 48%;
  // height: 50%;
  width: 8.5rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
}

.mobilemenu {
  // width: 6%;
  // height: 45%;
  width: 1.1rem;
  height: 1.6rem;
  position: relative;
  cursor: pointer;
}

// .desktoplinks {
//   display: none;
// }

.mobilemenu_container {
  display: flex;
  gap: 50px;
}

.desktoplinks {
  display: flex;
  width: max-content;
  list-style: none;
}

.desktoplinks_item {
  cursor: pointer;
  transition: color 0.15s ease-out;

  &:first-child {
    margin-right: 50px;
  }

  &:hover {
    color: red;
  }
}

.openednavbar {
  @extend .navbar;
  justify-content: flex-end;
}

@media screen and (min-width: 33.75em) {
  // .mobilemenu {
  //   display: none;
  // }
}
